.restrictions{
	width: auto;
	height: auto;
	#background: white;
	margin-top: 5%;
	padding-top: 5px;
	text-align: center;
	border: 2px solid black;
}

.leftCheckbox{
    float: right;
}

.rightCheckbox{
    float: left;
}

.footer{
	background: #222222;
	height:100%;
}

.recipe-holder{
	width: 100%;
	height: 100%;
	margin-top: 0%;
	position: fixed;
}

.recipe{
	width: 100%;
	height: 9%;
	position: relative;
	text-align: center;
	border-bottom: 3px solid black;
	cursor: pointer;
}
	#style1{
		background: #82b440;
		color: white;
	}
	#style2{
		background: white;
	}
	.recipeName{
		float: left;
	}
	.calories{
		float: left;
	}
	.price{
		float: right;
	}

.arrow{
	padding-top: 4px;
	height: 100%;
	float: right;
	font-size: 50px;
	cursor: pointer;
}

.activeRecipe{
	background: #222222 !important;
}

.activeArrow{
	color: blue;
}

.seeMore{
	width: 50px;
	height: 10px;
	display: none;
	float: right;
	padding-top: 10px;
}